/******************************/
/*                            */
/*   css by Bibi La Meduse    */
/*                            */
/******************************/

/******************************/

body{
	background: linear-gradient(to top right, #ff66ff 0%, #66ccff 100%);
}

h1{
	text-align: center;
	margin: 20px;
}

#bouton-reponse{
	display: flex;
	width: 100%;
	position: fixed;
}

button{
	margin-left: 80%;
}

.questions{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 20px;
	background: linear-gradient(to right, #ffffcc 0%, #ffccff 100%);
}

.divImage{
	display: flex;
	align-items: center;
	justify-content: center;
}

.reponse{
	margin-left: 8px;
}

