/******************************/
/*                            */
/*     css by Mohican19       */
/*                            */
/******************************/

/******************************/
/*        général             */
body {
    margin: 0px;
    padding: 0px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cadre {
  border: 2px solid black;
  border-radius: 10px;
}

/******************************/
/*         header             */

/******************************/
/*          questionnaire      */

ul {
  list-style: none;
}
ul span {
  margin-left: 2em;
}
/******************************/
/*         footer             */
